<plugin name='google-analytics' version='2.0' grailsVersion='2.0 &gt; *'>
  <author>Marcel Overdijk</author>
  <authorEmail>marceloverdijk@gmail.com</authorEmail>
  <title>Grails Google Analytics Plugin</title>
  <description>
                Include google analyics script
    </description>
  <documentation>http://grails.org/plugin/google-analytics</documentation>
  <type>GoogleAnalyticsGrailsPlugin</type>
  <resources>
    <resource>GoogleAnalyticsTagLib</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://plugins.grails.org' />
    <repository name='http://repo.grails.org/grails/plugins' url='http://repo.grails.org/grails/plugins/' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='grailsCore' url='http://svn.codehaus.org/grails/trunk/grails-plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies />
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>