<plugin name='google-analytics' version='2.1.1' grailsVersion='2.0 &gt; *'>
  <author>Marcel Overdijk</author>
  <authorEmail>marceloverdijk@gmail.com</authorEmail>
  <title>Grails Google Analytics Plugin</title>
  <description>
                Include google analyics script, async and traditional
                Add custom vars
    </description>
  <documentation>http://grails.org/plugin/google-analytics</documentation>
  <type>GoogleAnalyticsGrailsPlugin</type>
  <resources>
    <resource>GoogleAnalyticsCustomVarsTagLib</resource>
    <resource>GoogleAnalyticsTagLib</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies />
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>